<!doctype html>
<html lang="ko">
  <head>
    <%- include('head.ejs'); %>
    <title>Help Page</title>
  </head>
<% if(!session.userid) { %>
    <script>document.location.href="/login";</script>
<% } else { %>
  <body class="loginbody">
    <div class="text-center">
        <%- include('header.ejs'); %>
        
        <div class="myvote-cards">
            <% if(list.length == 0 || nolist) { %>
                <div class="myvote-card" style="text-align: center;padding:25px;">참여한 선거가 없습니다.</div>
                <% } else { %>
                <% for(var i=0;i<list.length; i++) { %>
                <div class="myvoteresult-card">
                    <div class="myvoteresult-card-span"><%= list[i].election %></div>
                    <!-- 선거 기간 -->
                    <!-- <div class="myvoteresult-card-span2">20.08.14~20.09.15</div> -->
                    <!-- 후보별 투표율 -->
                    <div class="myvotresult-card-contentbox">
                        <div class="myvotresult-card-content">
                            <%= list[i].name %>
                        </div>
                        <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 22%" aria-valuenow="30" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    22%             <!-- 임의값 할당, 실제 구현에서는 투표율 평균을 계산하여 넣어야 함. width에도 마찬가지 -->
                                </div>
                        </div>
                    </div>
                    <div class="myvotresult-card-contentbox">
                        <div class="myvotresult-card-content">
                            기권
                        </div>
                        <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 32%" aria-valuenow="30" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    32%
                                </div>
                        </div>
                    </div>
                </div>
                <div class="myvoteresult-card">
                    <div class="myvoteresult-card-span" style="text-decoration: line-through;">2020 상명대학교 융합공과대학 학생회 선거</div>
                    <div class="myvoteresult-card-span2">20.08.14~20.09.15<p>투표율 미달로 인해 선거가 무산되었습니다</p></div>
                    <!-- 후보별 투표율 -->
                    <div class="myvotresult-card-contentbox">
                        <div class="myvotresult-card-content">
                            투표율
                        </div>
                        <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 23%" aria-valuenow="30" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    23%             <!-- 임의값 할당, 실제 구현에서는 투표율 평균을 계산하여 넣어야 함. width에도 마찬가지 -->
                                </div>
                        </div>
                    </div>
                </div>
                <% } %>
			<% } %>
        </div>

    </div>
    <%- include('foot.ejs'); %>
  </body>
<% } %>
</html>