<!doctype html>
<html lang="ko">

<head>
    <%- include('head.ejs'); %>
    <title>Admin Page</title>
</head>
<% if(session.userid != 'admin' && session.g != 'Y') { %>
	<script>document.location.href="/login";</script>
<% } else { %>
<body class="loginbody">
    <div class="text-center">
        <%- include('header2.ejs'); %>
        <!-- title -->
        <div class="now-title">
            <div>진행 중인 선거</div>
        </div>
        <!-- title end -->
        <!-- content -->
        <% if(list.length > 0) { %>
        <% for(var i=0; i<list.length; i++) { %>
            <div class="now-content">
                <div>
                    <span class="now-content-span" style="font-weight: bold;"><%= list[i].name %></span>
                    <span class="now-content-span2">~ <%= list[i].enddate %></span>
                </div>
                <div class="now-content-result">
                    <div class="myvotresult-card-contentbox">
                        <div class="myvotresult-card-content">
                            전체 투표율
                        </div>
                        <% if(list[i].count[0] ==0) {%>
                            <div class="progress">
                                <div style="text-align: center; width:100%; color:black">
                                <%= list[i].count[0] %>%
                                </div>
                            </div>
                        <% } else { %>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: <%= list[i].count[0] %>%" aria-valuenow="30" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    <%= list[i].count[0] %>%
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <hr>
                    <!-- 후보별 투표율 -->
                    <% for (var k in list[i].candidateName) { %>
                        <% if (k==0) { %>       <!-- 첫번째 값은 문자열 voteNum이므로 제외 -->
                        <% } else {%>
                            <div class="myvotresult-card-contentbox">
                                <div class="myvotresult-card-content">
                                    <%= list[i].candidateName[k] %>
                                </div>
                                <% if(list[i].count[k] ==0) {%>
                                    <div class="progress">
                                        <div style="text-align: center; width:100%; color:black">
                                            <%= list[i].count[k] %>%
                                        </div>   
                                    </div>                             
                                <% } else { %>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: <%= list[i].count[k] %>%" aria-valuenow="30" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                            <%= list[i].count[k] %>%
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <% } %>
        <% } else { %>
        <div class="myvote-cards">
            <div class="myvote-card" style="text-align: center;padding:25px;">진행 중인 선거가 없습니다.</div>
        </div>
        <% } %>
        <!-- content end -->
    </div>
    <%- include('foot.ejs'); %>
</body>
<% } %>
</html>